@model INMOBILIARIA__Oliva_Perez.Models.TipoInmueble

<h2>Nuevo Tipo de Inmueble</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Nombre"></label>
        <input asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-success">Guardar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>

