@model INMOBILIARIA__Oliva_Perez.Models.TipoInmueble

<h2>Eliminar Tipo de Inmueble</h2>
<h4>¿Seguro que desea eliminar este tipo?</h4>
<p><strong>@Model.Nombre</strong></p>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
