@model INMOBILIARIA__Oliva_Perez.Models.TipoInmueble

<h2>Detalles</h2>
<p><strong>Id:</strong> @Model.Id</p>
<p><strong>Nombre:</strong> @Model.Nombre</p>
<a asp-action="Index" class="btn btn-secondary">Volver</a>
