@{
    ViewData["Title"] = "Inico";
}

<div class="p-4 text-center">
    <h1 class="display-5">Inmobiliaria</h1>
    <p class="lead">Gestión de Propietarios e Inquilinos.</p>
    <div class="mt-3">
        <a class="btn btn-primary me-2" asp-controller="Propietario" asp-action="Index">Propietarios</a>
        <a class="btn btn-outline-primary" asp-controller="Inquilino" asp-action="Index">Inquilinos</a>
    </div>
</div>