@{
    ViewData["Title"] = "Inicio";
}

<style>
    .hero {
        background-image: url('@Url.Content("~/Uploads/inmo.jpeg")');
        background-size: cover;        
        background-position: center;   
        height: 100vh;                 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;                  
        text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
    }
</style>

<div class="hero">
    <h1 class="display-3">Inmobiliaria</h1>
    <p class="lead">Gestión de Propietarios e Inquilinos</p>
</div>

